@import "tailwindcss";

@theme {
  --font-serif: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  /* White */
  color: #0f172a;
  /* Slate-900 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  color: #0f172a;
  /* Slate-900 */
}